{
  "commands": [
    {
      "name": "distribute alpha",
      "command": "./build-example.sh",
      "params": [
        "branch",
        "version"
      ],
      "log": "/tmp/log",
      "error_channel": "GXXXXXXXX",
      "channels": [
        "<direct message>",
        "#gobot-test"
      ],
      "users": [
        "@li-go"
      ]
    }
  ]
}
